<p>sometext</p>

<ul>
	<li>first
	<ul>
		<li>in first</li>
	</ul>
	</li>
	<li>second</li>
</ul>

<p><img alt="" src="https://pp.userapi.com/c626221/v626221557/65431/bsaET7Uo6Zg.jpg" style="height:231px; width:347px" />&nbsp; <img alt="" src="https://pp.userapi.com/c626221/v626221557/65431/bsaET7Uo6Zg.jpg" style="height:231px; width:347px" /></p>

<h2><strong><em>more photos</em></strong></h2>

<p><img alt="" src="https://pp.userapi.com/c626221/v626221557/65431/bsaET7Uo6Zg.jpg" style="height:306px; width:701px" /></p>

<p>&nbsp;</p>

<blockquote>
<p>some text some text some text some text some text some text some text</p>
</blockquote>
