<!DOCTYPE html>
<html>
<head>
	<title>main</title>
	<meta charset="utf-8">
	{% include 'mini-temp/head.html' %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/alan.css')}}">

</head>
<body>

{% include 'mini-temp/sidebar.html' %}

<div class="container-body height1">
	<div class="content-block">
		<div class="hello">
			<a href="">
				<div class="submit">BEGIN</div>
			</a>

			<div class="ind-tit">
				We are expand borders
			</div>

			<img src="{{ url_for('static', filename = 'images/main.jpg')}}" width="100%" height="100%">
		</div>
		<div class="info">
		<div class="infone">
			<div class="cont">
				<img src="{{ url_for('static', filename = 'images/infoone.jpg')}}" width="100%" height="100%">
			</div>
		</div>
		<div class="inftwo">
			<div class="cont">
				<img src="{{ url_for('static', filename = 'images/infotwo.jpg')}}" width="100%" height="100%">
			</div>
		</div>
		</div>
	</div>
</div>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}

$(document).ready(function(){
	$('#nav-icon1').click(function(){
		$(this).toggleClass('open');
		$("#mySidenav").toggleClass('nav');
		$("#nav-icon1").toggleClass('m-nav');
		$(".container-body").toggleClass('m-cont');
	});
});
</script>
     
</body>
</html>