<!DOCTYPE html>
<html>
<head>
	<title>main</title>
	<meta charset="utf-8">
	{% include 'mini-temp/head.html' %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/alan.css')}}">

</head>
<body>

{% include 'mini-temp/sidebar.html' %}

<div class="container-body3 height1">
	<div class="content-block">
		<div class="hello">
			<a href="/search">
				<div class="submit">BEGIN</div>
			</a>

			<img src="{{ url_for('static', filename = 'images/main(2).jpg')}}" width="100%" height="100%">
			<div class="ind-text">
				<div class="un-7">
					<p>TechLang - technological solution for the practice, study and teaching of the English language. After a short time the English will be the language of the world. On our website you can learn and practice the English language literally with two clicks.Just register, select topics that interest you, and after that, our service will pick you companion. But there are a few rules: in addition to the English language in chat is not allowed other language, it is impossible to use English letters to write foreign words. We aim to practice honest and effective.</p>
				</div>

				<div class="un-3">
					<img class="gord" src="{{ url_for('static', filename = 'images/character/Gord.png')}}">
				</div>
			</div>
		</div>
	</div>
</div>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}

$(document).ready(function(){
	$('#nav-icon1').click(function(){
		$(this).toggleClass('open');
		$("#mySidenav").toggleClass('nav');
		$("#nav-icon1").toggleClass('m-nav');
		$(".container-body").toggleClass('m-cont');
		$(".hello").toggleClass('hel-dvig');
	});
});
</script>
     
</body>
</html>