<!DOCTYPE html>
<html>
<head>
	<title>main</title>
	<meta charset="utf-8">
	{% include 'mini-temp/head.html' %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/alan.css')}}">
	<script src="{{url_for('static', filename='ckeditor/ckeditor.js')}}"></script>

</head>
<body>

{% include 'mini-temp/sidebar.html' %}

<div class="container-body3 height1">
	<div class="content-block">
		<div class="col-lg-10 col-lg-offset-0">
			<div class="create-cont">
				<div class="cr-tit">
					CREATE POST
				</div>
				<form action="/publish">
					<div class="cr-desc">Title:</div>

					<input type="text" name="title" class="cr_cov_link" placeholder="title">

					<div class="cr-desc">Description:</div>

					<textarea name="descript" class="desc_area" rows="2" maxlength="200" placeholder="description"></textarea>

					<div class="cr-desc">Cover link:</div>

					<input type="text" name="coverlink" class="cr_cov_link" placeholder="cover link">

					<div class="cr-desc">Content:</div>

					<textarea name="editor1" id="editor1" rows="12">
	                
	            	</textarea>

	            	<button class="pub-btn" type="submit">PUBLSIH</button>
            	</form>
            	<div class="empt-20"></div>
			</div>
		</div>
	</div>
</div>
<script>
    CKEDITOR.replace( 'editor1' );
</script>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}

$(document).ready(function(){
	$('#nav-icon1').click(function(){
		$(this).toggleClass('open');
		$("#mySidenav").toggleClass('nav');
		$("#nav-icon1").toggleClass('m-nav');
		$(".container-body3").toggleClass('m-cont');
	});
});
</script>
     
</body>
</html>