<!DOCTYPE html>
<html>
<head>
	<title>main</title>
	<meta charset="utf-8">
	{% include 'mini-temp/head.html' %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/alan.css')}}">
	
</head>
<body>

{% include 'mini-temp/sidebar.html' %}

<div class="container-body3">
	<div class="content-block">
			<div class="container">
				<div class="search-cont">
					<input class="search" type="text" placeholder="search">
				</div>
			</div>

			<div class="containerr">

			    <div class="col-lg-4">
				    <a href="#">
					    <div class="con">
					    	<div class="photo">
					    		<img src="{{ url_for('static', filename = 'images/user.svg')}}" alt="" class="us-img">
					    	</div>

					    	<div class="russia">
						    		<img src="{{ url_for('static', filename = 'images/russia.svg')}}" alt="" class="country">

						    </div>

					    	<div class="us-info">
					    		<p class="us-name">Ksenia Putilina</p>				    
						    	<div class="citycountr">
						    		<p>Moscow</p>
						    	</div>
					    	</div>
					    	
					    	<i class="fa fa-user-plus plus-teacher fa-2x" aria-hidden="true"></i>
					    	
					    </div>
				    </a>
				</div> 

				<div class="col-lg-4">
				    <a href="#">
					    <div class="con">
					    	<div class="photo">
					    		<img src="{{ url_for('static', filename = 'images/user.svg')}}" alt="" class="us-img">
					    	</div>

					    	<div class="russia">
						    		<img src="{{ url_for('static', filename = 'images/united-states.svg')}}" alt="" class="country">

						    </div>

					    	<div class="us-info">
					    		<p class="us-name">Ksenia Putilina</p>				    
						    	<div class="citycountr">
						    		<p>Moscow</p>
						    	</div>
					    	</div>
					    	
					    	<i class="fa fa-user-plus plus-teacher fa-2x" aria-hidden="true"></i>
					    	
					    </div>
				    </a>
				</div> 

				<div class="col-lg-4">
				    <a href="#">
					    <div class="con">
					    	<div class="photo">
					    		<img src="{{ url_for('static', filename = 'images/user.svg')}}" alt="" class="us-img">
					    	</div>

					    	<div class="russia">
						    		<img src="{{ url_for('static', filename = 'images/japan.svg')}}" alt="" class="country">

						    </div>

					    	<div class="us-info">
					    		<p class="us-name">Ksenia Putilina</p>				    
						    	<div class="citycountr">
						    		<p>Moscow</p>
						    	</div>
					    	</div>
					    	
					    	<i class="fa fa-user-plus plus-teacher fa-2x" aria-hidden="true"></i>
					    	
					    </div>
				    </a>
				</div> 

				<div class="col-lg-4">
				    <a href="#">
					    <div class="con">
					    	<div class="photo">
					    		<img src="{{ url_for('static', filename = 'images/user.svg')}}" alt="" class="us-img">
					    	</div>

					    	<div class="russia">
						    		<img src="{{ url_for('static', filename = 'images/norway.svg')}}" alt="" class="country">

						    </div>

					    	<div class="us-info">
					    		<p class="us-name">Ksenia Putilina</p>				    
						    	<div class="citycountr">
						    		<p>Moscow</p>
						    	</div>
					    	</div>
					    	
					    	<i class="fa fa-user-plus plus-teacher fa-2x" aria-hidden="true"></i>
					    	
					    </div>
				    </a>
				</div> 

				<div class="col-lg-4">
				    <a href="#">
					    <div class="con">
					    	<div class="photo">
					    		<img src="{{ url_for('static', filename = 'images/user.svg')}}" alt="" class="us-img">
					    	</div>

					    	<div class="russia">
						    		<img src="{{ url_for('static', filename = 'images/china.svg')}}" alt="" class="country">

						    </div>

					    	<div class="us-info">
					    		<p class="us-name">Ksenia Putilina</p>				    
						    	<div class="citycountr">
						    		<p>Moscow</p>
						    	</div>
					    	</div>
					    	
					    	<i class="fa fa-user-plus plus-teacher fa-2x" aria-hidden="true"></i>
					    	
					    </div>
				    </a>
				</div> 

				<div class="col-lg-4">
				    <a href="#">
					    <div class="con">
					    	<div class="photo">
					    		<img src="{{ url_for('static', filename = 'images/user.svg')}}" alt="" class="us-img">
					    	</div>

					    	<div class="russia">
						    		<img src="{{ url_for('static', filename = 'images/poland.svg')}}" alt="" class="country">

						    </div>

					    	<div class="us-info">
					    		<p class="us-name">Ksenia Putilina</p>				    
						    	<div class="citycountr">
						    		<p>Moscow</p>
						    	</div>
					    	</div>
					    	
					    	<i class="fa fa-user-plus plus-teacher fa-2x" aria-hidden="true"></i>
					    	
					    </div>
				    </a>
				</div> 

				<div class="col-lg-4">
				    <a href="#">
					    <div class="con">
					    	<div class="photo">
					    		<img src="{{ url_for('static', filename = 'images/user.svg')}}" alt="" class="us-img">
					    	</div>

					    	<div class="russia">
						    		<img src="{{ url_for('static', filename = 'images/poland.svg')}}" alt="" class="country">

						    </div>

					    	<div class="us-info">
					    		<p class="us-name">Ksenia Putilina</p>				    
						    	<div class="citycountr">
						    		<p>Moscow</p>
						    	</div>
					    	</div>
					    	
					    	<i class="fa fa-user-plus plus-teacher fa-2x" aria-hidden="true"></i>
					    	
					    </div>
				    </a>
				</div> 

				<div class="col-lg-4">
				    <a href="#">
					    <div class="con">
					    	<div class="photo">
					    		<img src="{{ url_for('static', filename = 'images/user.svg')}}" alt="" class="us-img">
					    	</div>

					    	<div class="russia">
						    		<img src="{{ url_for('static', filename = 'images/poland.svg')}}" alt="" class="country">

						    </div>

					    	<div class="us-info">
					    		<p class="us-name">Ksenia Putilina</p>				    
						    	<div class="citycountr">
						    		<p>Moscow</p>
						    	</div>
					    	</div>
					    	
					    	<i class="fa fa-user-plus plus-teacher fa-2x" aria-hidden="true"></i>
					    	
					    </div>
				    </a>
				</div> 




			</div>
	</div>
</div>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}

$(document).ready(function(){
	$('#nav-icon1').click(function(){
		$(this).toggleClass('open');
		$("#mySidenav").toggleClass('nav');
		$("#nav-icon1").toggleClass('m-nav');
		$(".container-body").toggleClass('m-cont');
	});
});
</script>
     
</body>
</html>