<!DOCTYPE html>
<html>
<head>
	<title>main</title>
	<meta charset="utf-8">
	{% include 'mini-temp/head.html' %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/alan.css')}}">

</head>
<body>

{% include 'mini-temp/sidebar.html' %}

<div class="container-body3">
	<div class="content-block">
		<div class="unit-cont">
			<div class="unit-cover">
				<img class="all-img" src="{{ url_for('static', filename = 'images/units/Unit1.png')}}">
			</div>
			
			<div class="un-cont">
				<div class="un-7">
						<div class="un-tit">Введение</div>
						<p class="un-inf">В большенстве случаев, когда люди пытаются начать учить английский язык, они делают это без какой либо подготовки,не имея никакого учебного плана.Мы становимся похожи на персонажа нашего сервиса рыцаря Артура,он тоже начал совсем не с самого начала. Пытаясь ухватить всё и сразу,понять не самые лёгкие темы в самом начале нашего обучения, шансы на достижение высокого уровня в языке неумолимо стремятся к нулю.</p>
				</div>


			<div class="un-3">
				<p class="un-inf">
						<img class="askal" src="{{ url_for('static', filename = 'images/character/Exalibur(2).png')}}">
				</p>
				
			</div>


			<div class="un-3">	
						<img class="wood" src="{{ url_for('static', filename = 'images/character/noname.png')}}">
				
			</div>
			

			<div class="un-7">
				<p class="un-inf">В большенстве случаев, когда люди пытаются начать учить английский язык, они делают это без какой либо подготовки,не имея никакого учебного плана.Мы становимся похожи на персонажа нашего сервиса рыцаря Артура,он тоже начал совсем не с самого начала. Пытаясь ухватить всё и сразу,понять не самые лёгкие темы в самом начале нашего обучения, шансы на достижение высокого уровня в языке неумолимо стремятся к нулю.</p>
			</div>

			<div class="un-7">
						<p class="un-inf">В большенстве случаев, когда люди пытаются начать учить английский язык, они делают это без какой либо подготовки,не имея никакого учебного плана.Мы становимся похожи на персонажа нашего сервиса рыцаря Артура,он тоже начал совсем не с самого начала. Пытаясь ухватить всё и сразу,понять не самые лёгкие темы в самом начале нашего обучения, шансы на достижение высокого уровня в языке неумолимо стремятся к нулю.</p>
				</div>


			<div class="un-3">
				<p class="un-inf">
						<img class="lvlup" src="{{ url_for('static', filename = 'images/character/sword2.png')}}">
				</p>
				
			</div>

			

			<div class="un-12">
				<img class="all-img" src="{{ url_for('static', filename = 'images/reklama.jpg')}}">
			</div>	

		</div>
	</div>

</div>
</div>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}

$(document).ready(function(){
	$('#nav-icon1').click(function(){
		$(this).toggleClass('open');
		$("#mySidenav").toggleClass('nav');
		$("#nav-icon1").toggleClass('m-nav');
		$(".container-body").toggleClass('m-cont');
	});
});
</script>
     
</body>
</html>